{% if total > 0 %}
<nav>
    <ul class="pagination">
        <li class="page-item {% if page==1 %}disabled{% endif %}">
            <a class="page-link" href="?page={{ page-1 }}&{{ request.query_string.decode().replace('page='+page|string, '') }}">上一页</a>
        </li>
        {% set max_page = ((total-1)//config.PAGE_SIZE)+1 %}
        {% for p in range(1, max_page+1) %}
        <li class="page-item {% if p==page %}active{% endif %}">
            <a class="page-link" href="?page={{ p }}&{{ request.query_string.decode().replace('page='+page|string, '') }}">{{ p }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if page==max_page %}disabled{% endif %}">
            <a class="page-link" href="?page={{ page+1 }}&{{ request.query_string.decode().replace('page='+page|string, '') }}">下一页</a>
        </li>
    </ul>
</nav>
{% endif %}
